

#center {
    display: flex;
    justify-content: center;

}

#error {
    display: flex;
    justify-content: space-around;
    width: 500px;
    border-radius: 10px;
    background-color: red;
}

.typo {
    padding: 10px;
    color: white;
}
.hover:hover{
    height: 460px;
    width: 410px;
   transition:  500ms linear;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} 
@media only  screen and (max-width:285px) {
    #input{
        display: flex;
        flex-direction: column;
    }

}

